{% extends 'layouts/master.html' %}

{% block title %}
    Product | Add
{% endblock title %}

{% block content %}
    <div class="container">
        <h1>This is product Add Page</h1>
        <hr>

        <!-- Bread Crump -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'list-product' %}">Products</a></li>
                <li class="breadcrumb-item active">Add</li>
            </ol>
        </nav>

        <!-- Content -->
        <div class="card p-5">
            {% include "partials/_message.html" %}
            <form action="{% url 'add-product' %}" method="post" enctype="multipart/form-data"> <!-- enctype is use to upload files/data -->
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="ADD" class="btn btn-primary col-12">
            </form>
        </div>
    </div>
{% endblock content %}