{% extends 'layouts/master.html' %}

{% block title %}
    Product | View
{% endblock title %}

{% block content %}
<div class="container">
    <h1>Product Details</h1>
    <hr>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{% url 'list-product' %}">Products</a></li>
          <li class="breadcrumb-item active">Product Details</li>
        </ol>
    </nav>
    <div class="card p-5">
        <h1>{{data.title}}</h1>
        <h5>{{data.desc}}</h5>
        <h5>{{data.categoty}}</h5>
        <h5>{{data.price}}</h5>
        <h5>{{data.discount}}</h5>
        <h5>{{data.cod}}</h5>
    </div>
</div>
{% endblock content %}