{% extends 'layouts/master.html' %}

{% block title %}
Dashboard
{% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Dashboard</h1>
    <hr>
    {% include "partials/_message.html" %}
    <!-- Content -->
    <div class="row">
        <div class="col p-2 card mx-2">
            Products
            <hr>
            <a href="{% url 'list-product' %}">View Products</a>
        </div>
        <div class="col p-2 card mx-2">
            Orders
            <hr>
            <a href="{% url 'list-product' %}">View Products</a>
        </div>
        <div class="col p-2 card mx-2">
            Categories
            <hr>
            <a href="{% url 'add-category' %}">Add Category</a>
        </div>
    </div>
    <img src="{% static 'image/photo.jpg' %}" alt="arsenal" width="200" height="200">
    <div id="message">
    </div>
</div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}