{% extends 'layouts/master.html' %}

{% block title %}
    Category | Add
{% endblock title %}

{% block content %}
    <div class="container">
        <h1>Product Category</h1>
        <hr>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'list-product' %}">Products</a></li>
                <li class="breadcrumb-item active">Add Category</li>
            </ol>
        </nav>
        <div class="card p-5">
            <form action="{% url 'add-category' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="ADD" class="btn btn-primary col-12">
            </form>
        </div>
    </div>
{% endblock content %}